body {
    background-color: transparent;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.bg {
    position: absolute;
    inset: 0px;
    z-index: -1;
}

@font-face {
    font-family: Anortic;
    src: url(fonts/AnorthicDemo.otf);
}

.header-h1 {
    text-align: center;
    letter-spacing: 2px;
    font-size: 32px;
    font-family: "Anortic";
    color: whitesmoke;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    gap: 15px;

    img {
        width: 60px;
        height: 60px;
        border-radius: 18px;
        transition: all 175ms ease-in-out;
        padding: 3px;
    }


}

.twitch {
    background: purple;
}

.vk {
    background: blue;
}

.hover-black:hover {
    background: black;
    transform: translateY(-4px);
    border: white 1px solid;
}