body {
    background-color: transparent;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.bg {
    position: absolute;
    inset: 0px;
    z-index: -1;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    gap: 15px;

    img {
        width: 60px;
        height: 60px;
        border-radius: 18px;
        transition: all 175ms ease-in-out;
        padding: 3px;
    }


}

.twitch {
    background: purple;
}

.vk {
    background: blue;
}

.hover-black:hover {
    background: black;
    transform: translateY(-4px);
    border: white 1px solid;
}

.shadow-dance-text {
    text-align: center;
    font-size: 4vw;
    font-family: "Permanent Marker";
    color: white;
    -webkit-text-stroke: 2px black;
    text-shadow: 5px 5px 0 purple, 10px 10px 0 blue;
    animation: shadow-dance 2s infinite;
}

@media screen and (max-width:768px) {
    .shadow-dance-text {
        font-size: 8vw;
    }
    
}

@keyframes shadow-dance {

    0%,
    100% {
        text-shadow: 5px 5px 0 purple, 10px 10px 0 blue;
    }

    50% {
        text-shadow: -5px -5px 0 blue, -10px -10px 0 purple;
    }
}