body {
    background-color: transparent;
    overflow: hidden;
}

.bg {
    position: absolute;
    inset: 0px;
    z-index: -1;
}

.header-h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    color: whitesmoke;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    gap: 15px;

    img {
        width: 50px;
        height: 50px;
        border-radius: 18px;
        transition: background-color 300ms ease-in-out;
        padding: 3px;
    }


}

.twitch {
    background: purple;
}

.vk {
    background: blue;
}

.hover-black:hover {
    background: black;
}